body {
    background-color: rgb(235, 243, 230);
    width: 100%;
    height: 100%;
}

.container {
    margin: 40px;
}

.text {
    font-family: 'Montserrat', sans-serif;
    text-align: justify;
}

.bold {
    font-weight: bold;
}

.main_title {
    color: black;
    text-align: center;
}

.code {
    font-family: 'Montserrat', sans-serif;
    color: rgb(139, 47, 47);
    background-color: rgb(212, 212, 212);
}

.subtitle {
    color: black;
    text-align: center;
}

hr {
    padding: 0;
    height: 0;
    border: none;
    border-top: 1px solid rgb(90, 90, 90);
}

.maintext {
    font-size: 16px;
    line-height: 150%;
}

.note {
    font: italic bold 12px Montserrat, sans-serif;
}

.textcode {
    color: black;
}

.footer {
    font-size: 12px;
}

.green {
    color: rgb(2, 104, 2);
    background-color: rgb(212, 212, 212);
}